@import '~bootstrap/scss/bootstrap';

.form-control:focus{
    box-shadow: none;
    border: 1px solid black;
}

.navbar-toggler:focus {
    outline: none !important;
    box-shadow: none !important;
}

@media (max-width: 992px) {
    .custom-canvas {
        width: 75% !important;
    }
}